/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  font-family: 'Monserrat', sans-serif;
  color: $grey;
  scroll-behavior: smooth;
  padding-bottom: 0;
  position: relative;

}

.html{
  padding-bottom: 0;
}

main{
  padding-top: 20px;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.pagination {
    text-align: left;
    position: relative;
    margin-top: 40px;

}

@media #{$pocket}{
   main{
     padding-top: 80px;
   }
   .pagination {
       margin-top: 40px;
       text-align: initial;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       justify-content: space-between;
   }
}
