<article class="blog-article" role="article" itemscope itemtype="http://schema.org/Article">
  {% render 'breadcrumbs' %}
  <div class="container-medium">
    <h1 class="blog__title">{{ article.title }}</h1>
    <h3 class="blog__date align-center">{{ article.published_at | time_tag: format: 'month_day_year' }}</h3>
  </div>
  <div class="container-small">
    <div class="relative">
      {% if article.image %}
        {% render 'image' with img : article.image.src , class: 'full-width' %}
      {% endif %}
      {% if settings.social_sharing_blog %}
        {% render 'article-social-sharing' %}
      {% endif %}
    </div>
    <h3 class="article-content__title" >{{ article.excerpt }}</h3>
    <div class="article__content blog__text rte" itemprop="articleBody">
      {{ article.content }}
    </div>
  </div>
</article>
{% render 'related-articles' %}
