{% render 'breadcrumbs' %}
{% section 'text-centered-collection' %}
<div class="container-large">
  <div class="grid grid--large">
    {% for product in collection.products %}
      <div class="grid__cell 1/2--lap-and-up">
         {% render 'product-thumbnail-collection', product: product, _section: false, _index: forloop.index %}
      </div>
    {% endfor %}
  </div>
</div>
