
{% assign slide = block.settings.video_url %}
  {% if slide == blank %}{% continue %}{% endif %}
  <div class="slide" {{ block.shopify_attributes }}>

    {% assign fs = block.settings.fs %}
    {% assign rel = block.settings.rel %}
    {% assign controls = block.settings.controls %}
    {% assign autoplay = block.settings.autoplay %}
    {% assign loop = block.settings.loop %}

    <div class="video">
      {% include "video-item",
      _img: image,
      _video: slide,
      _index: forloop.index,
      _fs: fs,
      _rel: rel,
      _controls: controls,
      _autoplay: autoplay,
      _loop: loop
      %} 
     </div>
  </div>
