/// home featured-products //

.featured-products{
  margin: 80px auto;
    a{
       text-decoration: none;
        color: $grey;
    }
    .flickity-page-dots {
      bottom: -35px;
    }
    .flickity-button {
      background: none;
    }
}

.product-thumbnail__image{
   max-width: 350px;
   margin: 0 auto;
   margin-bottom: 50px;
}

.product-thumbnail__title{
  font-size: $font-size-text;
  font-weight: 300;
  line-height: 1.63;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin:0;
}

.product-thumbnail__price {
  font-size: $font-size-text;
  line-height: 1.56;
  letter-spacing: normal;
  margin: 5px 0 25px 0;
}

.collection__thumbnails {
  width: 33%; /* carousel width */
  margin-right: 10px;
  text-align: center;
}

.sold-out-badge{
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 1px solid #333e47;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
}

.sold-out-opacity{
  opacity: .5;
}

.compared__price{
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
}

.card__percentage{
  position: absolute;
  top: 5px;
  left: 0;
  span{
    font-size: $font-size-text;
    line-height: 1.56;
    padding: 5px 10px;
    border: 1px solid $grey;
  }

}

@media #{$pocket}{
    .collection__thumbnails {
      width: 100%; /* full width */
      margin-right: 10px;
      text-align: center;
    }

    .product-thumbnail__image{
       max-width: 225px;
       margin-bottom: 20px;
    }

    .product-thumbnail__price {
      margin: 5px 0 20px 0;
    }

    .featured-products{
      .flickity-page-dots {
        bottom: -35px;
      }
    }
    .sold-out-badge{
      top: 50px;
    }
}
