
/// footer ////
footer{
   ul{
     list-style: none;
     margin: 0;
     padding: 0;
      a{
        text-decoration: none;
        color: $grey;
      }
   }
}

.footer__newsletter{
   background-color: $green-muller;
   padding: 50px 0 50px 100px;
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
}

.newsletter__title{
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  width: 20%;
  margin-right: 20px;
  font-style: italic;
}


.footer-form{
  width: 70%;
}

.footer__form{
  display: flex;
  align-items: baseline;
}

.footer__input{
  width: 70%;
  margin-right: 20px;
}
.input__text{
  width: 100%;
  font-size: 18px;
  line-height: 2.22;
  border: none;
  border-bottom: 1px solid $grey;
  background-color: transparent;
   &::placeholder {
      color: $grey;
    }
}

.footer-newsletter__submit{
  width: 20%;
  font-size: $font-size-text;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: transparent;
  border: none;
}

.newsletter__submit-text{
  text-transform: uppercase;
}

.footer__box{
  padding: 50px 0 50px 100px;
}

.footer__linklist{
  font-size: $font-size-text;
  display: block;
  li{
    a{
       font-size: $font-size-text;
       font-weight: normal;
       line-height: 1.63;
       letter-spacing: 0.9px;
    }
  }
}

.footer__title{
  font-size: $font-size-mini;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.footer-social__icons{
  display: flex;
  justify-content: flex-start;

  li{
   margin-right: 25px;
  }
  svg{
    width: 20px;
    height: 20px;
  }
}

.footer__legal {
  padding: 0 0 50px 100px;
  font-size: $font-size-legal;
  ul{
    display: flex;
    li{
        padding-right: 20px;
        border-right: 1px solid $grey;
    }
    li:not(:first-child) {
      padding-left: 10px;
    }
  }

}

.arrow-rotate{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media #{$pocket}{

  .footer__newsletter {
    padding: 30px 0 30px 30px;
    flex-direction: column;
  }

  .footer__title-flex{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    align-items: center;
     svg{
        width: 15px;
     }
  }

  .newsletter__title {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
 }

 .newsletter__submit-text{
   text-transform: capitalize;
 }

// important toogle mobile //
 .footer__linklist{
     margin: 10px;
     display: none;
 }

 .footer-form{
   width: 100%;
 }

 .footer__input {
    width: 100%;
 }

 .submit__box{
   position: absolute;
   bottom: 25%;
   right: 5%;
 }

 .footer__box {
   padding: 0;
   border-top: 1px solid black;
   margin: 30px 0;
   width: 90%;
 }

 .footer__title{
   margin: 0;
   padding: 15px 0;
 }

 .footer-social__icons{
    padding: 40px 0;
    justify-content: space-around;
    li{
     margin-right: 0;
    }
 }

}
