
/// footer pictos ///
.section-footer-pictos {
  margin: 40px 0 80px 0;
}

.footer-pictos__box{
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
   width: 90%;
}

.footer-pictos__block{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
    &:not(:last-child){
      margin-right: 60px;
    }
}

.footer__picto{
   width: 65px;
   margin: 0 auto;
   margin-bottom: 15px;
}

.footer-pictos__title{
  font-size: $font-size-text;
  font-weight: 400;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
}


@media #{$pocket}{
  .footer-pictos__box{
    flex-direction: column;
     width: 100%;
  }
  .footer-pictos__block {
    flex-direction: row;
    padding-bottom: 40px;
      &:not(:last-child){
        margin-right: 0;
      }
  }
  .footer__picto{
     margin-bottom: 0;
     margin-right: 30px;
  }
  .footer-pictos__title {
    text-align: left;
    max-width: 160px;
  }
}
