/*** mega menu ***/

.header__submenu {
	position: absolute;
	margin-top: 1px;
	top: 100%;
	left: 0;
	right:0;
	width:100%;
	background: $white;
	color:$black;
	padding: 0;
	opacity: 0;
	z-index: 9999;
	transition: .2s;
	height: 0px;
	overflow: hidden;
	.container--medium {
		padding: 50px 0;
	}
	.grid--small {margin-left: -10px;}
	.grid--small .grid__cell {padding-left: 10px;}
	.megamenu-image .hover-image__container{line-height: 0;}
	a{background:transparent;}
}

.header__submenu-grid {
	display: flex;
	align-items: stretch;
}


.header__menu-item:hover .header__submenu {
	opacity: 1;
	height: auto;
}

.megamenu__title {
	cursor: default;
	margin-bottom: 20px;
}

.header__submenu-item {
	margin-bottom: 5px;
}
.header__submenu-item:hover{
	font-weight: bolder;
}

.megamenu-image__content {
	bottom:20px;
	left: 20px;
	right: 20px;
	a { color:$black; }
	svg{fill : white;}
}

.megamenu-images__image {
	text-align : center;
	margin-top: 20px;
	svg{fill: #465461;}
	.icon{width : 7px;}
	.secondary-title{
		font-size: 14px;
		// margin-top: -2px;
		// margin-left: 3px;
	}
}
.megamenu-image__title {
	font-weight: 400;
}

.megamenu-linklist__custom-container {
	border-left:1px solid lightgrey; // todo : mettre bonne couleur
	border-right:1px solid lightgrey; // todo : mettre bonne couleur
	width: 80%;
	margin: auto;
	padding-left: 15%;
	box-sizing: border-box;
	height: 100%;
}

 
.header__cart-count{
	min-width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-left: 4px;
	line-height: 21px;
	vertical-align: middle;
	font-size: 11px;
	text-align: center;
	display: inline-block;
	margin-top: -2px;
}
