
/// section home savoir faire //////


.savoir-faire__content{
   width:100%;
   padding-bottom: 100%;
   position: relative;

}


.savoir-faire__title{
   font-size: 30px;
   font-weight: normal;
   line-height: 1.33;
   letter-spacing: normal;
   text-align: center;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.savoir-faire__block{
   display: flex;
   flex-direction: column;
}

.section-savoir-faire{

    .grid--flush{
     .grid__cell{
       padding-left: 0px;
      }
    }

    .carousel:after {
      content: 'flickity';
      display: none; /* hide :after */
    }

    @media screen and ( min-width: 800px ) {
      /* disable Flickity for large devices */
      .carousel:after {
        content: '';
      }
    }

  .flickity-page-dots {
    bottom: -40px;

   }
   .flickity-page-dots .dot {
     width: 8px;
     height: 8px;
   }
   a{
     color: $grey;
   }
}
