
/*================ containers =============================*/

    .container-banner{
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
    }

    .container-footer{
      width: 80%;
      max-width: 1400px;
      float: right;
    }

    .container-full{
      width: 100%;
      margin: 0 auto;
    }

    .container-large{
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
    }

    .container-medium{
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
    }

    .container-small{
      width: 70%;
      max-width: 900px;
      margin: 0 auto;
    }

    .container-button{
      margin: 50px auto;
      text-align: center;
    }
    .b-bottom{
      border-bottom: 1px solid #333e47;
    }

  @media #{$pocket}{
    .container-banner{
       width: 100%;
    }
    .container-small{
      width: 90%;
    }
    .container-footer{
      width: 90%;
    }
    .container-button{
      margin: 60px auto;
    }

  }

/*================ titles =============================*/

.page__title{
   font-size: $font-page-heading;
   font-weight: 500;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.67;
   letter-spacing: normal;
   text-align: center;
   margin-top: 20px;
}

.page__subtitle{
   font-size: $font-page-heading;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.67;
   letter-spacing: normal;
   text-align: center;
   margin: 0;
}

.page-title-secondary{
  font-size: $font-size-heading;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
}

@media #{$pocket}{
  .page__title{
     font-size: $font-size-text;
     line-height: 1;
  }
  .page__subtitle{
     font-size: $font-size-text;
   }
  .page-title-secondary{
     font-size: $font-size-heading-mobile;
   }
}

.font-eb__title{
  font-family: 'EB Garamond', serif;
  font-size: $font-size-newsletter;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
}

.font-play__title{
  font-family: 'Playfair Display', serif;
  font-size: $font-size-newsletter;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  font-style: italic;
}

/*================ #Lists ================*/
ul,
ol {
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}

ol {
  list-style: decimal;
}

.list--inline {
  padding: 0;
  margin: 0;

  & > li {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

/*============== banner utils  ===========================*/

    .height--50vh { height:50vh; }
    .height--60vh { height:60vh; }
    .height--70vh { height:70vh; }
    .height--80vh { height:80vh; }
    .height--90vh { height:90vh; }
    .banner__image--full-screen {	height: 100vh; }


/*================ Utilities =============================*/


  .align-center {
    text-align: center;
  }
  .align-left {
    text-align: left;
  }
  .align-right {
    text-align: right;
  }

  .full-width{
    width: 100%;
  }

  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  }

  .inherit{
    width: inherit;
  }

   .italic{
     font-style: italic;
   }

   .bold{
       font-weight: bold;
   }
  .cross{
    text-decoration: line-through;
   }
   
  .position-absolute-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .position-absolute-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
  }

  .text-initial{
    text-transform: initial;
  }

  .block{
    display: block;
  }

  .none{
    display: none;
  }

  .line-height{
    line-height: 0;
  }

  .fs-0{
    font-size: 0;
  }

  .margin-cero{
    margin: 0;
  }
  .relative{
    position: relative;
  }

  .absolute{
    position: absolute;
  }

  .arrow-rotate{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }



  //////// breadcrumbs  //////////

  .breadcrumbs-container {
      text-align: center;
      font-weight: 500;
      font-size: $font-size-mini;
      margin-top: 40px;
      a{
        color: $grey;
        text-decoration: none;
      }
  }

  //////// pagination  //////////

  .pagination{
     li{
       display: inline-block;
     }
  }

  //////// hide classes  //////////

  .desktop-only{
    display: block;
  }

  .mobile-only{
    display: none;
  }

    @media #{$pocket}{
      .pocket--hide {
        display: none;
      }
      .desktop-only{
        display: none !important;
      }
      .mobile-only{
        display: block;
      }
    }

    @media #{$lap-and-up}{
      .lap-and-up--hide{
        display: none;
      }
    }
