{% render 'home-reviews' %}
{% schema %}
{
  "name": "Reviews PRO",
  "settings": [
     {
       "type": "color",
       "id": "bg-color",
       "label": "label",
       "default": "#f6fbfa"
     },
     {
       "type": "color",
       "id": "separator-color",
       "label": "Seperator color",
       "info": "The color in between columns",
       "default": "#333e47"
     },
     {
       "type": "text",
       "id": "title",
       "label": "label",
       "default": "La communauté"
     },
     {
       "type": "richtext",
       "id": "subtitle",
       "label": "subtitle",
       "info": "info",
       "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
     },
     {
       "type": "checkbox",
       "id": "title-mobile",
       "label": "Show title in mobile",
       "default": false
     },
     {
       "type": "blog",
       "id": "blog",
       "label": "blog",
       "info": "Choose a blog"
     },
     {
        "type":      "range",
        "id":        "reviews",
        "min":       3,
        "max":       20,
        "step":      1,
        "label":     "Number of reviews",
        "default":   5
    },
    {
      "type": "checkbox",
      "id": "show-product",
      "label": "show products",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "slider",
      "label": "Slider in mobile",
      "default": false,
      "info": "If checked will show in a carousel in mobile"
    },
    {
      "type": "text",
      "id": "button-link",
      "label": "Button",
      "default": "Lire tous les avis"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button url"
    }
  ],
  "presets": [
      {
        "name": "Home Reviews PRO",
        "category": "Homepage"
      }
    ]
}
{% endschema %}
