{% render 'home-banner' %}

{% schema %}
{
  "name": "Home-Banner",
  "settings": [
       {
         "type": "color",
         "id": "color",
         "label": "color",
         "default": "#e1eee7"
       },
       {
         "type": "image_picker",
         "id": "image",
         "label": "image"
       },
       {
         "type": "image_picker",
         "id": "image-mobile",
         "label": "label"
       },
       {
         "type": "image_picker",
         "id": "logo",
         "label": "logo"
       },
      {
        "type": "text",
        "id": "title",
        "label": "title",
        "default": "Nouveautes"
      },
      {
        "type": "select",
        "id": "title-tag",
        "label": "Title tag type",
        "options": [
            {
                "value": "h1",
                "label": "H1"
            },
            {
                "value": "h2",
                "label": "H2"
            },
            {
                "value": "div",
                "label": "Div"
            }
        ],
        "default": "h1"
      },
      {
        "type": "text",
        "id": "text",
        "label": "text",
        "default": "<p>La nouvelle collection de soins naturels de beauté Alban Muller est à cueillir dès maintenant</p>"
      },
      {
        "type": "text",
        "id": "scroll_bottom_label",
        "label": "Scroll button text",
        "default": "Down",
        "info": "If not set or empty, the button will not be displayed"
      },
      {
          "type": "checkbox",
          "id": "block-reverse",
          "label": "Block reverse",
          "default": false,
  		    "info": "Change the side of the blocks"
      }
  ],
  "presets": [
      {
        "name": "Home Banner",
        "category": "Homepage"
      }
    ]
}
{% endschema %}
